<!DOCTYPE html>
<html>
<body>
<div class="header">
  <a href="#default" class="logo">Job Application</a>
  <div class="header-right">
    <a class="active" href="login">Admin Login</a>
  </div>
</div>
<div class="container center_div" style="margin-top: 5%;">
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="basicdetails">
    <form [formGroup]="basicdetails" (ngSubmit)="basicdetail()">
      <ng-template matStepLabel>Step 1</ng-template>
     <div class="container center_div" style="margin-top: 3%;">
      <div class="d-flex justify-content-between">
        <span
          ><h1 style="font-size: 22px; color: #1d244f; font-weight: 800">
            Basic Details
          </h1></span
        >
      </div>
      <mat-form-field appearance="fill" class="col-md-4 mb-2">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Enter Your Firstname" formControlName="fname" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-4 mb-2">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Enter Your Lastname" formControlName="lname" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-4 mb-2">
        <mat-label>Designation</mat-label>
        <input matInput placeholder="Enter Your Designation" formControlName="designation" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-4 mb-2">
        <mat-label>Date Of Birth</mat-label>
        <input type="date" matInput placeholder="Enter Your DOB" formControlName="dob" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-4 mb-2">
        <mat-label>Select Relationship Status</mat-label>
        <mat-select formControlName="rstatus">
          <mat-option value="Single">Single</mat-option>
          <mat-option value="Married">Married</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-radio-group formControlName="gender" class="col-md-4 mb-2">
        <mat-label>Gender</mat-label><br style="height: 10px;">
        <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button  value="Female">Female</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="fill" class="col-md-6 mb-2">
        <mat-label>Email Address</mat-label>
        <input
                type="email"
                [email]="true"
                matInput
                formControlName="email"
                required
              />
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6 mb-2">
        <mat-label>Mobile No</mat-label>
        <input
        matInput
        minlength="10"
        maxlength="10"
        formControlName="mobile"
        required
      />
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6 mb-2">
        <mat-label>Address 1</mat-label>
        <textarea formControlName="address1" required matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6 mb-2">
        <mat-label>Address 2</mat-label>
        <textarea formControlName="address2" required matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-4 mb-2">
        <mat-label>City</mat-label>
        <input matInput placeholder="Enter Your City" formControlName="city" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-4 mb-2">
        <mat-label>Select State</mat-label>
        <mat-select formControlName="state">
          <mat-option value="Gujarat">Gujarat</mat-option>
          <mat-option value="Rajasthan">Rajasthan</mat-option>
          <mat-option value="M.P.">M.P.</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-4 mb-2">
        <mat-label>Zipcode</mat-label>
        <input matInput placeholder="Enter Your Zipcode" formControlName="zipcode" required>
      </mat-form-field>
    </div>
      <div style="text-align: center;">
        <button mat-button matStepperNext class="btn btn-primary">Next</button>
      </div>
    </form>
  </mat-step>





  <mat-step [stepControl]="educationdetails"  label="Step 2">
    <form [formGroup]="educationdetails" (ngSubmit)="educationdetail()">
      <div class="container center_div" style="margin-top: 3%;">
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 22px; color: #1d244f; font-weight: 800">
              Education Details
            </h1></span
          >
        </div>
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 15px; color: #1d244f; font-weight: 800">
              SSC result
            </h1></span
          >
        </div>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Name Of Board</mat-label>
          <input matInput placeholder="Enter Your Name Of Board" formControlName="nboard" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Passing Year</mat-label>
          <input matInput type="number" placeholder="Enter Your Passing Year" formControlName="pyear" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Percentage</mat-label>
          <input matInput type="number" placeholder="Enter Your Percentage" formControlName="percentage" required>
        </mat-form-field>
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 15px; color: #1d244f; font-weight: 800">
              HSC/Diploma Result
            </h1></span
          >
        </div>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Name Of Board</mat-label>
          <input matInput placeholder="Enter Your Name Of Board" formControlName="hscboard" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Passing Year</mat-label>
          <input matInput type="number" placeholder="Enter Your Passing Year" formControlName="hscyear" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Percentage</mat-label>
          <input matInput type="number" placeholder="Enter Your Percentage" formControlName="hscpercentage" required>
        </mat-form-field>
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 15px; color: #1d244f; font-weight: 800">
              Bachelor Degree
            </h1></span
          >
        </div>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>Course Name</mat-label>
          <input matInput placeholder="Enter Your Course Name" formControlName="dcourse" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>University</mat-label>
          <input matInput placeholder="Enter Your University" formControlName="duniversity" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>Passing Year</mat-label>
          <input matInput type="number" placeholder="Enter Your Passing Year" formControlName="dyear" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>Percentage</mat-label>
          <input matInput type="number" placeholder="Enter Your Percentage" formControlName="dpercentage" required>
        </mat-form-field>
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 15px; color: #1d244f; font-weight: 800">
              Master Degree
            </h1></span
          >
        </div>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>Course Name</mat-label>
          <input matInput placeholder="Enter Your Course Name" formControlName="mcourse" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>University</mat-label>
          <input matInput placeholder="Enter Your University" formControlName="muniversity" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>Passing Year</mat-label>
          <input matInput type="number" placeholder="Enter Your Passing Year" formControlName="myear" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>Percentage</mat-label>
          <input matInput type="number" placeholder="Enter Your Percentage" formControlName="mpercentage" required>
        </mat-form-field>
      </div>
      <div style="text-align: center;">
        <button mat-button matStepperNext class="btn btn-primary">Next</button>
      </div>
    </form>
  </mat-step>




  <mat-step [stepControl]="experiencedetail" label="Step 3" >
    <form [formGroup]="experiencedetail" (ngSubmit)="workexp()">  
      <div class="container center_div" style="margin-top: 3%;">
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 22px; color: #1d244f; font-weight: 800">
              Work Experience Details
            </h1></span
          >
        </div>
    <div  class="form-group col-md-12" formArrayName="items" *ngFor="let item of experiencedetail.get('items')['controls']; let i = index;" >
      <div [formGroupName]="i">   
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Company Name</mat-label>
          <input matInput placeholder="Enter Your Company Name" formControlName="cname" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-3 mb-2">
          <mat-label>Designation</mat-label>
          <input matInput placeholder="Enter Your Designation" formControlName="designation" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-2 mb-2">
          <mat-label>From</mat-label>
          <input type="date" matInput  formControlName="from" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-2 mb-2">
          <mat-label>To</mat-label>
          <input type="date" matInput  formControlName="to" required>
        </mat-form-field>
          <span *ngIf="i>0" class="CrossImg2" (click)="removeQuantity(i)">X</span>
      </div>
      </div>
    
        <div class="col-sm-4">
          <button type="button" class="btn" style="background-color:#3f51b5;color:white;" (click)="addButton()"> Add Experience </button>
        </div> 
      </div>
      
      <div style="text-align: center;">
        <button mat-button matStepperNext class="btn btn-primary">Next</button>
      </div>
    </form>
  </mat-step>



  <mat-step [stepControl]="LanguageKnown" label="Step 4">
    <form [formGroup]="LanguageKnown" (ngSubmit)="language()">
      <div class="container center_div" style="margin-top: 3%;">
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 22px; color: #1d244f; font-weight: 800">
              Language Known
            </h1></span
          >
        </div>
        <div class="row" style="font-size: 17px;">
          <mat-checkbox formControlName="Hindi" (click)="enablenext()">Hindi</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="hread" [disabled]="isChecked">Read</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="hwrite" [disabled]="isChecked">Write</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="hspeak" [disabled]="isChecked">Speak</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div><br>
        <div class="row" style="font-size: 17px;">
          <mat-checkbox formControlName="English" (click)="enablenext1()">English</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="eread" [disabled]="isChecked1">Read</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="ewrite" [disabled]="isChecked1">Write</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="espeak" [disabled]="isChecked1">Speak</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div><br>
        <div class="row" style="font-size: 17px;">
          <mat-checkbox formControlName="Gujarati" (click)="enablenext2()">Gujarati</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="gread" [disabled]="isChecked2">Read</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="gwrite" [disabled]="isChecked2">Write</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <mat-checkbox formControlName="gspeak" [disabled]="isChecked2">Speak</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
      <div style="text-align: center;">
        <button mat-button matStepperNext class="btn btn-primary">Next</button>
      </div>
    </form>
  </mat-step>
   <mat-step [stepControl]="technology" label="Step 5">
    <form [formGroup]="technology" (ngSubmit)="technologyk()">
      <div class="container center_div" style="margin-top: 3%;">
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 22px; color: #1d244f; font-weight: 800">
              Technologies you know
            </h1></span
          >
        </div>
        <div class="row" style="font-size: 17px;">
            <mat-checkbox formControlName="PHP" (click)="enablenext3()" class="col-md-1 mb-2" >PHP</mat-checkbox>
            <mat-radio-group formControlName="LPHP"  class="col-md-4 mb-2" >
            <mat-radio-button value="PBeginer" [disabled]="isChecked3">Beginer</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button  value="PMideator" [disabled]="isChecked3">Mideator</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button  value="PExpert" [disabled]="isChecked3">Expert</mat-radio-button>
          </mat-radio-group>
        </div><br>

        <div class="row" style="font-size: 17px;">
          <mat-checkbox formControlName="MySql" (click)="enablenext4()" class="col-md-1 mb-2" >MySql</mat-checkbox>
          <mat-radio-group formControlName="LMySql"  class="col-md-4 mb-2">
          <mat-radio-button value="MBeginer" [disabled]="isChecked4">Beginer</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button  value="MMideator" [disabled]="isChecked4">Mideator</mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button  value="MExpert" [disabled]="isChecked4">Expert</mat-radio-button>
        </mat-radio-group>
      </div><br>

      <div class="row" style="font-size: 17px;">
        <mat-checkbox formControlName="Laravel" (click)="enablenext5()" class="col-md-1 mb-2" >Laravel</mat-checkbox>
        <mat-radio-group formControlName="LLaravel"  class="col-md-4 mb-2">
        <mat-radio-button value="LBeginer" [disabled]="isChecked5">Beginer</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button  value="LMideator" [disabled]="isChecked5">Mideator</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button  value="LExpert" [disabled]="isChecked5">Expert</mat-radio-button>
      </mat-radio-group>
    </div><br>

      <div class="row" style="font-size: 17px;">
        <mat-checkbox formControlName="Oracle" (click)="enablenext6()" class="col-md-1 mb-2" >Oracle</mat-checkbox>
        <mat-radio-group formControlName="LOracle" class="col-md-4 mb-2">
        <mat-radio-button value="OBeginer" [disabled]="isChecked6" >Beginer</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button  value="OMideator" [disabled]="isChecked6" >Mideator</mat-radio-button>&nbsp;&nbsp;
        <mat-radio-button  value="OExpert" [disabled]="isChecked6" >Expert</mat-radio-button>
      </mat-radio-group>
    </div>
        </div>
      <div style="text-align: center;">
        <button mat-button matStepperNext class="btn btn-primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ReferanceContact" label="Step 6">
    <form [formGroup]="ReferanceContact" (ngSubmit)="referancecontact()">
      <div class="container center_div" style="margin-top: 3%;">
        <div class="d-flex justify-content-between">
          <span
            ><h1 style="font-size: 22px; color: #1d244f; font-weight: 800">
              Referance Contact
            </h1></span
          >
        </div>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter Name" formControlName="r1name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Contact No</mat-label>
          <input
          matInput
          minlength="10"
          maxlength="10"
          formControlName="r1contact"
          required
        />
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Relation</mat-label>
          <input matInput placeholder="Enter Relation" formControlName="r1relation" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter Name" formControlName="r2name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Contact No</mat-label>
          <input
          matInput
          minlength="10"
          maxlength="10"
          formControlName="r2contact"
          required
        />
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-md-4 mb-2">
          <mat-label>Relation</mat-label>
          <input matInput placeholder="Enter Relation" formControlName="r2relation" required>
        </mat-form-field>
        </div>
        <div style="text-align: center;">
          <button mat-button matStepperNext class="btn btn-primary">Next</button>
        </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="Preferances" label="Step 7">
    <form [formGroup]="Preferances" (ngSubmit)="preferance()">
        <div class="container center_div" style="margin-top: 3%;">
          <div class="d-flex justify-content-between">
            <span
              ><h1 style="font-size: 22px; color: #1d244f; font-weight: 800">
                Preferances
              </h1></span
            >
          </div>
          <mat-form-field appearance="fill" class="col-md-6 mb-2">
            <mat-label>Preferred Location</mat-label>
            <mat-select [formControl]="plocation"  multiple>
              <mat-option *ngFor="let plocation of plocationList"  [value]="plocation">{{plocation}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-md-5 mb-2">
            <mat-label>Department</mat-label>
            <mat-select [formControl]="department" multiple>
              <mat-option *ngFor="let department of departmentList" [value]="department">{{department}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-md-4 mb-2">
            <mat-label>Notice Period</mat-label>
            <input matInput placeholder="Enter Notice Period" formControlName="nperiod" required>
          </mat-form-field>
          
          <mat-form-field appearance="fill" class="col-md-3 mb-2">
            <mat-label>Current CTC</mat-label>
            <input matInput type="number" placeholder="Enter Current CTC" formControlName="cuctc" required>
          </mat-form-field> 
         <mat-form-field appearance="fill" class="col-md-4 mb-2">
            <mat-label>Expacted CTC</mat-label>
            <input type="number" matInput placeholder="Enter Expacted CTC" formControlName="exctc" required>
          </mat-form-field>
          
          </div>
          <div style="text-align: center;">
            <button mat-button matStepperNext class="btn btn-primary">Complete</button>
          </div>
    </form>
  </mat-step> 

</mat-stepper>
</div>

</body>
</html>
